<h2>Registracija</h2>
<form class="form-horizontal">

  <div class="form-group col-md-3">
    <label for="name" style="font-family: 'Verdana'">Ime:</label>
    <input type="text" name="name" id = "name" class="form-control" placeholder="Ime.." required autofocus [(ngModel)]="korisnik.ime" [ngModelOptions] = "{standalone:true}" />
  </div>
  <div class="col-md-3">
    <div class="form-control-feedback">
      <span class="text-danger align-middle">
        <!-- Put name validation error messages here -->
      </span>
    </div>
  </div>

  <div class="form-group col-md-3">
    <label for="name" style="font-family: 'Verdana'">Prezime</label>
    <input type="text" name="name" id = "surname" class="form-control"  placeholder="Prezime.." required autofocus [(ngModel)]="korisnik.prezime" [ngModelOptions] = "{standalone:true}" />
  </div>
  <div class="col-md-3">
    <div class="form-control-feedback">
      <span class="text-danger align-middle">
        <!-- Put name validation error messages here -->
      </span>
    </div>
  </div>

  <div class="form-group col-md-3">
    <label for="name" style="font-family: 'Verdana'">Korisnicko ime:</label>
    <input type="text" name="name" id = "username" class="form-control"  placeholder="Korisnicko ime.." required autofocus [(ngModel)]="korisnik.korisnickoIme" [ngModelOptions] = "{standalone:true}" />
  </div>
  <div class="col-md-3">
    <div class="form-control-feedback">
      <span class="text-danger align-middle">
        <!-- Put name validation error messages here -->
      </span>
    </div>
  </div>

  <div class="form-group col-md-3">
    <label for="password" style="font-family: 'Verdana'">Lozinka:</label>
    <input type="password" name="password" id = "password" class="form-control"  placeholder="Lozinka.." required autofocus [(ngModel)]="korisnik.lozinka" [ngModelOptions] = "{standalone:true}" />
  </div>
  <div class="col-md-3">
    <div class="form-control-feedback">
      <span class="text-danger align-middle">
        <!-- Put name validation error messages here -->
      </span>
    </div>
  </div>

  <div class="form-group col-md-3">
    <label for="password" style="font-family: 'Verdana'">Ponovite lozinku:</label>
    <input type="password" name="password" id = "password1" class="form-control"  placeholder="Ponovljena lozinka.." required autofocus [(ngModel)]="ponovljenaLozinka" [ngModelOptions] = "{standalone:true}" />
  </div>
  <div class="col-md-3">
    <div class="form-control-feedback">
      <span class="text-danger align-middle">
        <!-- Put name validation error messages here -->
      </span>
    </div>
  </div>

  <p class="text-danger">{{lozinke}}</p>

  <div class="form-group col-md-3">
    <label for="email" style="font-family: 'Verdana'">Email:</label>
    <input type="text" name="email" id = "email" class="form-control" placeholder="Email.." required autofocus [(ngModel)]="korisnik.email" [ngModelOptions] = "{standalone:true}" />
  </div>
  <div class="col-md-3">
    <div class="form-control-feedback">
      <span class="text-danger align-middle">
        <!-- Put name validation error messages here -->
      </span>
    </div>
  </div>

  <div class="form-group col-md-3">
    <label for="name" style="font-family: 'Verdana'">Broj telefona:</label>
    <input type="text" name="name" id = "brTel" class="form-control" placeholder="Broj telefona.." required autofocus [(ngModel)]="korisnik.telefon" [ngModelOptions] = "{standalone:true}" />
  </div>
  <div class="col-md-3">
    <div class="form-control-feedback">
      <span class="text-danger align-middle">
        <!-- Put name validation error messages here -->
      </span>
    </div>
  </div>

  <p class="text-danger">{{porukaTelefon}}</p>

  <div class="form-group col-md-3">
    <label for="name" style="font-family: 'Verdana'">Grad:</label>
    <input type="text" name="name" id = "grad" class="form-control" placeholder="Grad.." required autofocus [(ngModel)]="korisnik.grad" [ngModelOptions] = "{standalone:true}" />
  </div>
  <div class="col-md-3">
    <div class="form-control-feedback">
      <span class="text-danger align-middle">
        <!-- Put name validation error messages here -->
      </span>
    </div>
  </div>


  <div class="form-group">
    <button  class="btn btn-primary" (click)="submit()" style="font-family: 'Verdana'">Registruj se</button>
    <a [routerLink]="['/welcomepage']" class="btn btn-link">Odustani</a>
  </div>
</form>

