<div class="items-wrapper__item items-wrapper__item-small items-wrapper__item--blue">
  <igx-navbar style="font-family: 'Ink Free'" title="T R A V E L L A N D">
    <button class="btn-primary">Izloguj se</button>
  </igx-navbar>
  <igx-tabs tabsType="fixed">

    <igx-tabs-group label="Administratori">
      <system-administrator-administratori></system-administrator-administratori>
    </igx-tabs-group>

    <igx-tabs-group label="Aviokompanije">

    </igx-tabs-group>

    <igx-tabs-group label="Hoteli">
      <system-administrator-hoteli></system-administrator-hoteli>
    </igx-tabs-group>

    <igx-tabs-group label="Rent servisi">

    </igx-tabs-group>

  </igx-tabs>
</div>

