<div class="items-wrapper__item items-wrapper__item-small items-wrapper__item--blue">
  <igx-navbar style="font-family: 'Ink Free'" title="T R A V E L L A N D">
    <i class="fa fa-user">{{administrator.ime}} {{administrator.prezime}} </i>
    <button class="btn-primary" (click) = "logout()">Izloguj se</button>
  </igx-navbar>
  <igx-tabs tabsType="fixed">

    <igx-tabs-group label="Rent-A-Car Servisi">
      <app-rent-administrator-servisi></app-rent-administrator-servisi>
    </igx-tabs-group>

    <igx-tabs-group label="Korisnik">
      <app-rent-administrator-profil></app-rent-administrator-profil>
    </igx-tabs-group>

  </igx-tabs>
</div>
