<div class="container" *ngIf="korisnik!=null">
  <div class="row my-2">
    <div class="col-lg-8 order-lg-2">

      <igx-tabs tabsType="fixed" >
        <igx-tabs-group icon="person" label="Profil">
          <app-rent-administrator-profil-page></app-rent-administrator-profil-page>
        </igx-tabs-group>
        <igx-tabs-group icon="edit" label="Izmeni">
          <app-rent-administrator-profil-edit></app-rent-administrator-profil-edit>
        </igx-tabs-group>
      </igx-tabs>
    </div>

  </div>
</div>
