<div class="container-fluid">
  <div style="text-align: center">
    <p  style="color: black;font-size:40px; font-family: 'Ink Free'">Registracija administratora </p>
  </div>
  <br>

  <div class="row">
    <div class="col" style="width: 33%">
      <div style="display: inline-block; margin-left: 10%">
        <p style="color: black;font-size:30px; text-align: center; background: yellow; ">Korisnici</p>
        <div *ngFor="let u of regularUsers" style="margin-top: -30px;">
          <br>
          <label style="font-size: 22px;">{{u.korisnickoIme}}</label>
          <div>
            <button style="height: 60px;width: 80px;border-radius: 12px;background-color: #1a8cff;color: white;" (click)="promeniUlogu(u)">Promeni ulogu</button>
          </div>
          <br>
        </div>
      </div>
    </div>
    <div class="col" style="width: 33%">
      <div *ngIf="promenaUloge == true" style="display: block; margin-right: 30%">
        <form [formGroup]="form">
          <div class="form-group">
            <label style="font-size: 20px;">{{pu.korisnickoIme}}</label>
            <br>
            <label style="font-size: 20px;">Nova uloga:</label>
            <select class="form-control margin" [formControl]="novaUloga">
              <option>ADMINISTRATOR_SISTEMA</option>
              <option>ADMINISTRATOR_AVIOKOMPANIJE</option>
              <option>ADMINISTRATOR_HOTELA</option>
              <option>ADMINISTRATOR_RENT_A_CAR</option>
            </select>
            <small class="form-text error" *ngIf="novaUloga.errors?.required && novaUloga.touched" style="color: red">
              Izbor uloge je obavezan!
            </small>
            <button style="height: 40px;width: 80px;border-radius: 12px;background-color: #1a8cff;color: white; margin-top: 10px" (click)="potvrdiPromenu(pu, this.novaUloga.value)" [disabled]="!form.valid">Potvrdi </button>
            <br>
          </div>
        </form>
      </div>
    </div>
    <div class="col" style="width: 33%">
      <div style=" display: inline-block;">
        <p style="color: black;font-size:30px; text-align: center; background: yellow; ">Administratori</p>
        <div *ngFor="let admin of administrators" style="margin-top: -30px">
          <br>
          <div>
          <label style="font-size: 22px;">{{admin.korisnickoIme}}&nbsp;</label>
          </div>
          <div>
          <label style="font-size: 22px; color: #1a8cff"><i>{{admin.uloga}}</i></label>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
