<br>
<div style="text-align: center">
  <p  style="color: black;font-size:40px; font-family: 'Ink Free'">Registracija hotela</p>
</div>
<div style="margin-bottom:50px;margin-right: 30%;margin-left: 30%">
  <form [formGroup]="form">
    <div class="form-group">

      <label style="margin-top: 20px">Naziv hotela:</label>
      <input name="name" class="form-control margin" [formControl]="name">
      <small class="form-text error" *ngIf="name.errors?.required && name.touched" style="color: red">
        Naziv je obavezan!
      </small>

      <label style="margin-top:20px">Adresa:</label>
      <input name="address" class="form-control margin" [formControl]="address">
      <small class="form-text error" *ngIf="address.errors?.required && address.touched" style="color: red">
        Adresa je obavezna!
      </small>

      <label style="margin-top:20px">Opis:</label>
      <textarea name="description" class="form-control" [formControl]="description"></textarea>

      <label style="margin-top:20px">Administrator:</label>
      <select class="form-control margin" [formControl]="administratorHotela">
        <option></option>
        <option *ngFor="let admin of administratoriHotela ">{{admin.username}}</option>
      </select>

      <button class="btn btn-primary" style="width: 100%;margin-top: 30px" (click)="confirmClick()" [disabled]="!form.valid">
        Registruj
      </button>

      <button class="btn btn-primary" style="width: 100% ; margin-top: 20px" (click)="exit()">
        Zatvori
      </button>

    </div>
  </form>
</div>

