<body>
<div id="login">
  <h3 class="text-center text-white pt-5">Forma za promenu lozinke</h3>
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-16">
          <form id="login-form" class="form" action="" method="post">
            <h3 class="text-center text-info">Promena lozinke</h3>
            <div class="form-group">
              <label class="text-info">Lozinka:</label><br>
              <input type="password" name="passValue" placeholder="******" id="passValue" class="form-control"  [(ngModel)] = "korisnik.lozinka" [ngModelOptions] = "{standalone:true}">
            </div>

            <div class="form-group">
              <label class="text-info">Lozinka:</label><br>
              <input type="password" name="passValue1" placeholder="******" id="passValue1" class="form-control" [(ngModel)] = "ponovljenaLozinka" [ngModelOptions] = "{standalone:true}">
            </div>

            <p class="text-danger">{{lozinke}}</p>
            <div class="form-group">
              <input type="submit" name="submit" class="btn btn-info btn-md" value="Potvrdi" (click)="potvrdi()">

              &nbsp; &nbsp;
              <a [routerLink]="['/welcomepage']" class="text-info">Odustani</a>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

