<div class="items-wrapper__item items-wrapper__item-small items-wrapper__item--blue">
  <igx-navbar title="FLY FLY TRAVEL" actionButtonIcon="menu">
    <button class="btn-primary">Uloguj se</button>
    <button class="btn-primary">Registruj se</button>
    <igx-icon>more_vert</igx-icon>
  </igx-navbar>
  <igx-tabs tabsType="fixed">
    <igx-tabs-group label="Letovi">
      <p>
        Let's fly together!
      </p>
    </igx-tabs-group>
    <igx-tabs-group label="Hoteli">Recent contacts list.</igx-tabs-group>
    <igx-tabs-group label="Rent servisi">More detailed contact information.</igx-tabs-group>
  </igx-tabs>
</div>

