<div class="items-wrapper__item items-wrapper__item-small items-wrapper__item--blue">
  <igx-navbar style="font-family: 'Ink Free'" title="T R A V E L L A N D">
    <button class="btn-primary" (click)="ulogujSe()">Uloguj se</button>
    <button class="btn-primary" (click)="registrujSe()"> Registruj se</button>
  </igx-navbar>
  <igx-tabs tabsType="fixed">
    <igx-tabs-group label="Letovi">
    </igx-tabs-group>
    <igx-tabs-group label="Hoteli">
      <app-welcome-page-hoteli></app-welcome-page-hoteli>
    </igx-tabs-group>
    <igx-tabs-group label="Rent servisi">
      <app-welcome-page-servisi></app-welcome-page-servisi>
    </igx-tabs-group>
  </igx-tabs>
</div>

