<div class="items-wrapper__item items-wrapper__item-small items-wrapper__item--blue">
  <igx-navbar style="font-family: 'Ink Free'" title="T R A V E L L A N D">
    <button class="btn-primary">Profil</button>
    <button class="btn-primary" (click)="logout()">Odjavi se</button>
  </igx-navbar>
  <igx-tabs tabsType="fixed">
    <igx-tabs-group label="Aviokompanije">
      <div style="text-align: center; margin-top: 15%">
        <p  style="color: #1a8cff;font-size:45px; font-width: bolder;font-family: 'Ink Free'; margin-bottom: 3%">
          Za demonstraciju brze rezervacije kliknite
        </p>
        <button class="btn btn-lg btn-outline-primary" (click)="brzaRezervacija()">
          OVDE
        </button>
      </div>

    </igx-tabs-group>

    <igx-tabs-group label="Hoteli">
      <app-registered-user-hoteli></app-registered-user-hoteli>
    </igx-tabs-group>

    <igx-tabs-group label="Rent servisi">
      <app-registered-user-servisi></app-registered-user-servisi>
    </igx-tabs-group>

    <igx-tabs-group></igx-tabs-group>

    <igx-tabs-group label="Moji letovi"></igx-tabs-group>

    <igx-tabs-group label="Moji hoteli">
      <app-registered-user-hoteli-korisnik></app-registered-user-hoteli-korisnik>
    </igx-tabs-group>

    <igx-tabs-group label="Moja vozila">
      <app-registered-user-vozila-korisnik></app-registered-user-vozila-korisnik>
    </igx-tabs-group>

    <igx-tabs-group></igx-tabs-group>


    <igx-tabs-group label="Rezervacije letova">Pregled mojih rezervacija letova.</igx-tabs-group>

    <igx-tabs-group label="Rezervacije hotela">
      <app-registered-user-my-hoteli></app-registered-user-my-hoteli>
    </igx-tabs-group>

    <igx-tabs-group label="Rezervacije vozila">
      <app-registered-user-my-vozila></app-registered-user-my-vozila>
    </igx-tabs-group>

  </igx-tabs>
</div>
