<div class="items-wrapper__item items-wrapper__item-small items-wrapper__item--blue">
  <igx-navbar style="font-family: 'Ink Free'" title="T R A V E L L A N D">
    <button class="btn-primary">Profil</button>
    <button class="btn-primary" (click)="logout()">Odjavi se</button>
  </igx-navbar>
  <igx-tabs tabsType="fixed">
    <igx-tabs-group label="Aviokompanije">Pregled aviokompanija.</igx-tabs-group>

    <igx-tabs-group label="Hoteli">
      <app-registered-user-hoteli></app-registered-user-hoteli>
    </igx-tabs-group>

    <igx-tabs-group label="Rent servisi">
      <app-registered-user-servisi></app-registered-user-servisi>
    </igx-tabs-group>

    <igx-tabs-group></igx-tabs-group>

    <igx-tabs-group label="Moji letovi"></igx-tabs-group>
    <igx-tabs-group label="Moji hoteli"></igx-tabs-group>
    <igx-tabs-group label="Moja vozila"></igx-tabs-group>

    <igx-tabs-group></igx-tabs-group>


    <igx-tabs-group label="Rezervacije letova">Pregled mojih rezervacija letova.</igx-tabs-group>

    <igx-tabs-group label="Rezervacije hotela">
      <app-registered-user-my-hoteli></app-registered-user-my-hoteli>
    </igx-tabs-group>

    <igx-tabs-group label="Rezervacije vozila">
      <app-registered-user-my-vozila></app-registered-user-my-vozila>
    </igx-tabs-group>

  </igx-tabs>
</div>
